body {
	font-family: Roboto Medium;
}

body {
	-webkit-print-color-adjust: exact;
}

#logodiv{

position: absolute;
z-index: 99999;
 background: transparent;
}

.addressdetails {
	height: 65px;
	padding-top: 1px;
	width: 90px;
}

.studentdetails {
	border-radius: 8px;
	height: 65px;
	padding-top: 1px;
	background-color: transparent;
}

.phonedetails {
	width: 90px;
	height: 20px;
	background-color: transparent;
}

.main-div {
	width: 195px;
	height: 422px;
	position: relative;
	background-color: transparent;
	overflow: hidden;
}

.qrdetails {
	width: 90px;
	height: 90px;
	background-color: transparent;
	display: inline-block;
}

.main-div span {
	padding: 0 5px;
	font-size: 9px;
	border: none;
	font-family: Arial;
	padding-left: 2px;
}

span.buttons {
	margin-right: 0px;
}

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#sortable li {
	margin: 0 3px 3px 3px;
	padding-left: 1.5em;
}

#idcard {
	border-radius: 10px;
	border: 3px solid #BADA55;
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

#idcard {
	border-radius: 10px;
	border: 3px solid #BADA55;
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

.main-div {
	border: 1px solid #4C1919;
}

.schoolName {
	font-size: 14px;
	color: #B9BF50;
	position: relative;
	text-align: center;
	background-color: transparent;
	font-weight: 600;
}

.phones {
	border: 1px;
	border-radius: 10px;
	width: 25px;
	height: 20px;
	font-size: 10px;
	color: #ffffff;
	background-color: #2F3871;
	text-align: center;
	position: relative;
	background-color: transparent;
}

.branch {
	font-size: 10px;
	text-align: center;
	position: relative;
	color: #448719;
	background-color: transparent;
}

.phone {
	font-size: 10px;
	text-align: center;
	color: #fff;
	position: relative;
	background-color: transparent;
}

.section {
	margin-bottom: 12.5px;
	margin-right: 0px;
}

span.label {
	position: relative;
	width: 48px;
}

span.column {
	position: absolute;
	right: -2px;
}

.name {
	border: 1px solid #4C1919;
	border-radius: 5px;
	width: 50px;
	font-size: 13px;
	text-align: center;
	position: relative;
}

.addresss {
	border: 1px;
	border-radius: 10px;
	height: 20px;
	font-size: 8px;
	color: #ffffff;
	background-color: #2F3871;
	text-align: center;
}

.namediv {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	padding-top: 1px;
	height: 30px;
	margin-bottom: 1px;
	position: relative background-color: transparent;
}

.photo, .photob {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	height: 90px;
	width: 90px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	position: relative;
	background-color: transparent;
}

.studentdetails, .addressdetails {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	display: inline-block;
	padding-top: 1px;
	vertical-align: top;
	position: relative;
	background-color: transparent;
}

.phonedetails {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	background-color: transparent;
}

.sectionb .label {
	color: #ffffff;
	background-color: #2F3871 !important;
	padding: 0px 2px;
	border-radius: 15px 0 0 15px;
	display: inline-block;
	margin: 1px;
	line-height: 10px;
	text-align: left;
	font-size: 9px;
	width: auto;
}

.label {
	padding: 0px 5px;
	border-radius: 15px 0 0 15px;
	display: inline-block;
	margin: 1px;
	line-height: 13px;
	text-align: left;
	font-size: 6px;
	font-weight: 100;
	background-color: #2F3871;
	font-family: Arial;
}

section {
	margin-bottom: 5px;
}

.photob img {
	max-width: 90px;
	max-height: 90px;
}

section div[id] {
	cursor: move;
}

.main-div div[id] {
	position: absolute !important;
}

.bus-id-main-div {
	border: 5px solid #4C1919;
	height: 195px;
	width: 300px;
}

.bus-id-main-div header {
	border: 1px solid #000;
	text-align: center;
	padding: 5px;
	font-weight: 600;
}

#route {
	font-size: 42px;
	font-weight: 600;
}

.bus-id-main-div .routeNo, .namedivb, .studentdetailsb {
	display: inline-block;
	width: 200px;
}

.bus-id-head, .id-head {
	cursor: pointer;
}

.namediv, .studentdetails, .classDivision, .point, .routeNo {
	position: relative;
}

#layoutImage {
	position: absolute;
}

#items {
	list-style: none;
	margin: 0px;
	margin-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	font-size: 9px;
	color: #333333;
	cursor: pointer;
}

#lfontval, #hfontval, .cntr {
	display: none;
	position: absolute;
	border: 1px solid #B2B2B2;
	width: 150px;
	background: #F9F9F9;
	box-shadow: 3px 3px 2px #E9E9E9;
	border-radius: 4px;
}

#lfontval, #hfontval {
	top: 0px;
	right: 0px;
	font-size: 12px;
}

.cntr li {
	padding: 3px;
	padding-left: 10px;
}

#qrdetails {
	position: relative;
}

#qrdetails img {
	width: 100%;
	height: 100%;
}

#items :hover {
	color: white;
	background: #284570;
	border-radius: 2px;
}

#house, #classDivision, #admission, #valid {
	background-color: transparent !important;
	position: relative;
}

.ui-icon-gripsmall-diagonal-se {
	opacity: 0;
}

.transport {
	width: 422px;
	height: 195px;
}

#routetext {
	display: inline-block;
}

#routeNo {
	background-color: transparent !important;
	display: inline-block;
}

.admission, .house, .valid, .classDivision {
	height: auto;
}

#main-div, #address, #phonedetails, #namediv, #photo, #point {
	overflow: hidden;
}

#main-div, #address, #phonedetails, #namediv, #studentdetails, #photo,
	#point, #parents {
	background-color: rgba(255, 255, 255, 0.1);
}

div#addresstext {
	font-size: 8px;
	padding: 3px;
}

.main-div {
	left: 0px;
	top: 0px;
	width: 205px;
	height: 330px;
}

#main-div {
	background-color: #ffffff1a
}

.schoolName {
	left: 0px;
	top: 0px;
	width: 197px;
	height: 12px;
}

#schoolName {
	background-color: rgba(255, 255, 255, 0.1);
}

.branch {
	left: 0px;
	top: 10px;
	width: 197px;
	height: 13px;
}

#parents {
	border: 1px solid;
}

.parents span {
	font-size: 7px;
}

#branch {
	background-color: rgba(255, 255, 255, 0.1);
}

.phone {
	left: 0px;
	top: 20px;
	width: 197px;
	height: 12px;
}

#phone {
	background-color: rgba(255, 255, 255, 0.1);
}

.namediv {
	left: 0px;
	top: 32px;
	width: 196px;
	height: 27px;
}

#namediv {
	background-color: #ffffff1a;
}

.photo {
	left: 1px;
	top: 59px;
	width: 90px;
	height: 90px;
}

#photo {
	background-color: #ffffff1a;
	overflow: hidden;
}

.studentdetails {
	left: 91px;
	top: 58px;
	width: 105px;
	height: 65px;
}

#studentdetails {
	background-color: #ffffff1a
}

.classDivision {
	left: 2px;
	top: 0px;
	width: 99px;
	height: 15px;
}

#classDivision {
	background-color: #000000
}

.admission {
	left: 3px;
	top: 15px;
	width: 114px;
	height: 16px;
}

#admission {
	background-color: #000000
}

.house {
	left: 5px;
	top: 30px;
	width: 99px;
	height: 28px;
}

#house {
	background-color: #000000
}

.valid {
	left: 5px;
	top: 45px;
	width: 99px;
	height: 15px;
}

#valid {
	background-color: #000000
}

.addressdetails {
	left: 2px;
	top: 150px;
	width: 96px;
	height: 89px;
}

#address {
	background-color: #ffffff1a
}

.phonedetails {
	left: 93px;
	top: 125px;
	width: 103px;
	height: 16px;
}

#phonedetails {
	background-color: #ffffff1a
}

.qrdetails {
	left: 106px;
	top: 164px;
	width: 70px;
	height: 58px;
}

#qrdetails {
	background-color: #FFF !important;
}

#schoolNameChange {
	color: #b9bf50
}

.label {
	background-color: #2f3871;
	min-width: 48x;
	max-width: 48px
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#branchName {
	color: #448719
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#teleName {
	color: #ffffff
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#name {
	color: #ffffff;
	max-width: 37px;
	min-width: 37px;
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#nametext {
	color: #07aab9
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#classlebel {
	color: #ffffff
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#classtext {
	color: #07aab9
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#admNo {
	color: #ffffff
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#admNotext {
	color: #07aab9
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#houNo {
	color: #ffffff
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#houNotext {
	color: #07aab9
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#validUpto {
	color: #ffffff
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#validUptotext {
	color: #07aab9
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#addresslebel {
	color: #ffffff
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#addresstext {
	color: #07aab9
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#phonelebel {
	color: #ffffff;
	padding: 2px;
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#phonetext {
	color: #07aab9;
	letter-spacing: 0px;
}

.label {
	background-color: #2f3871
}

.addresss {
	background-color: #2f3871
}

.phones {
	background-color: #2f3871
}

#main-div div#parentDetail {
	position: static !important;
}

#nametext {
	font-size: 9px;
	float: right;
	width: 80%;
}

.parents div {
	background-color: rgba(255, 255, 255, 0) !important;
}

.studentdetails span {
	font-size: 9px
}

.addressdetails span {
	font-size: 9px;
	padding: 3px;
	border-radius: 4px 0px 0px 4px;
}

.phonedetails span {
	font-size: 9px;
	letter-spacing: 0px;
	border-radius: 4px 0px 0px 4px;
}

#schoolNameChange {
	font-size: 9px
}

#patentlabel {
	min-width: 50px;
	max-width: 50px;
	border-radius: 4px 0px 0px 4px;
}

.qrdetails {
	padding: 10px;
	background: #fff;
}

#emergency {
	min-width: 60px;
	max-width: 53px;
	border-radius: 4px 0 0 4px;
}

#emergencyNo {
	padding: 1px;
	line-height: 2.2;
}

.section span {
	vertical-align: top;
}

#parentDetail {
	display: inline-block;
}

.main-div>div[id] {
	border: 1px solid;
}

#qrdetails-bck img {
	width: 100%;
	height: 100%;
}

.main-div {
	left: 0px;
	top: 0px;
	width: 203px;
	height: 318px;
}

#main-div {
	background-color: #ffffff1a
}

#main-div {
	border-color: #4c1919
}

#main-div {
	border-radius: 0px
}

.logodiv {
	left: 3px;
	top: -2px;
	width: 30px;
	height: 30px;
}

#logodiv {
	background-color: transparent
}

#logodiv {
	border-color: #07aab9
}

#logodiv {
	border-radius: 0px
}

.schoolName {
	left: -35px;
	top: 1px;
	width: 303px;
	height: 16px;
}

#schoolName {
	background-color: #ffffff1a
}

#schoolName {
	border-color: #b9bf50
}

#schoolName {
	border-radius: 0px
}

.branch {
	left: -35px;
	top: 17px;
	width: 308px;
	height: 10px;
}

#branch {
	background-color: #ffffff1a
}

#branch {
	border-color: #448719
}

#branch {
	border-radius: 0px
}

.phone {
	left: -14px;
	top: 27px;
	width: 259px;
	height: 10px;
}

#phone {
	background-color: #ffffff1a
}

#phone {
	border-color: #ffffff
}

#phone {
	border-radius: 0px
}

.namediv {
	left: 2px;
	top: 38px;
	width: 198px;
	height: 25px;
}

#namediv {
	background-color: #ffffff1a
}

#namediv {
	border-color: #660000
}

#namediv {
	border-radius: 4px
}

.photo {
	left: 2px;
	top: 64px;
	width: 94px;
	height: 101px;
}

#photo {
	background-color: #ffffff1a
}

#photo {
	border-color: #660000
}

#photo {
	border-radius: 4px
}

.studentdetails {
	left: 97px;
	top: 64px;
	width: 103px;
	height: 59px;
}

#studentdetails {
	background-color: #ffffff1a
}

#studentdetails {
	border-color: #660000
}

#studentdetails {
	border-radius: 4px
}

.classDivision {
	left: 0px;
	top: 0px;
	width: 130px;
	height: 14px;
}

#classDivision {
	background-color: transparent
}

#classDivision {
	border-color: #07aab9
}

#classDivision {
	border-radius: 0px
}

.admission {
	left: 0px;
	top: 14px;
	width: 114px;
	height: 16px;
}

#admission {
	background-color: transparent
}

#admission {
	border-color: #07aab9
}

#admission {
	border-radius: 0px
}

.house {
	left: 0px;
	top: 28px;
	width: 131px;
	height: 28px;
}

#house {
	background-color: transparent
}

#house {
	border-color: #07aab9
}

#house {
	border-radius: 0px
}

.valid {
	left: 0px;
	top: 42px;
	width: 127px;
	height: 55px;
}

#valid {
	background-color: transparent
}

#valid {
	border-color: #07aab9
}

#valid {
	border-radius: 0px
}

.dob {
	left: 287px;
	top: 111px;
	width: 50px;
	height: 114px;
}

#dob {
	background-color: transparent
}

#dob {
	border-color: #07aab9
}

#dob {
	border-radius: 0px
}

.bgroup {
	left: 225px;
	top: 106px;
	width: 50px;
	height: 76px;
}

#bgroup {
	background-color: transparent
}

#bgroup {
	border-color: #07aab9
}

#bgroup {
	border-radius: 0px
}

.addressdetails {
	left: 97px;
	top: 139px;
	width: 103px;
	height: 59px;
}

#address {
	background-color: #fff2cc
}

#address {
	border-color: #660000
}

#address {
	border-radius: 4px
}

.phonedetails {
	left: 97px;
	top: 125px;
	width: 105px;
	height: 12px;
}

#phonedetails {
	background-color: #ffffff1a
}

#phonedetails {
	border-color: #660000
}

#phonedetails {
	border-radius: 4px
}

.qrdetails {
	left: 4px;
	top: 166px;
	width: 90px;
	height: 86px;
}

#qrdetails {
	background-color: #ffffff
}

#qrdetails {
	border-color: #660000
}

#qrdetails {
	border-radius: 0px
}

.parents {
	left: 96px;
	top: 199px;
	width: 104px;
	height: 54px;
}

#parents {
	background-color: #ffffff
}

#parents {
	border-color: #660000
}

#parents {
	border-radius: 4px
}

.parentDetail {
	left: 1px;
	top: -9px;
	width: 100%;
	height: 24px;
}

#parentDetail {
	background-color: #ffffff
}

#parentDetail {
	border-color: #07aab9
}

#parentDetail {
	border-radius: 0px
}

.emerencyNodiv {
	left: 0px;
	top: 76px;
	width: 96px;
	height: 38px;
}

#emerencyNodiv {
	background-color: #ffffff
}

#emerencyNodiv {
	border-color: #07aab9
}

#emerencyNodiv {
	border-radius: 0px
}

.classDivision-bck {
	left: 6px;
	top: 5px;
	width: 170px;
	height: 16px;
}

#classDivision-bck {
	background-color: transparent
}

#classDivision-bck {
	border-color: #07aab9
}

#classDivision-bck {
	border-radius: 0px
}

.admission-bck {
	left: 6px;
	top: 31px;
	width: 170px;
	height: 17px;
}

#admission-bck {
	background-color: transparent
}

#admission-bck {
	border-color: #07aab9
}

#admission-bck {
	border-radius: 0px
}

.house-bck {
	left: 6px;
	top: 53px;
	width: 170px;
	height: 17px;
}

#house-bck {
	background-color: transparent
}

#house-bck {
	border-color: #07aab9
}

#house-bck {
	border-radius: 0px
}

.valid-bck {
	left: 6px;
	top: 74px;
	width: 170px;
	height: 17px;
}

#valid-bck {
	background-color: transparent
}

#valid-bck {
	border-color: #07aab9
}

#valid-bck {
	border-radius: 0px
}

.addressdetails-bck {
	left: 6px;
	top: 100px;
	width: 170px;
	height: 46px;
}

#address-bck {
	background-color: transparent
}

#address-bck {
	border-color: #07aab9
}

#address-bck {
	border-radius: 0px
}

.phonedetails-bck {
	left: 6px;
	top: 150px;
	width: 170px;
	height: 17px;
}

#phonedetails-bck {
	background-color: transparent
}

#phonedetails-bck {
	border-color: #07aab9
}

#phonedetails-bck {
	border-radius: 0px
}

.qrdetails-bck {
	left: 7px;
	top: 256px;
	width: 55px;
	height: 55px;
}

#qrdetails-bck {
	background-color: transparent
}

#qrdetails-bck {
	border-color: #07aab9
}

#qrdetails-bck {
	border-radius: 0px
}

.parents-bck {
	left: 6px;
	top: 178px;
	width: 170px;
	height: 50px;
}

#parents-bck {
	background-color: transparent
}

#parents-bck {
	border-color: #07aab9
}

#parents-bck {
	border-radius: 0px
}

.parentDetail-bck {
	left: 56px;
	top: -3px;
	width: 0px;
	height: 0px;
}

#parentDetail-bck {
	background-color: transparent
}

#parentDetail-bck {
	border-color: #07aab9
}

#parentDetail-bck {
	border-radius: 0px
}

.emerencyNodiv-bck {
	left: 6px;
	top: 232px;
	width: 170px;
	height: 17px;
}

#emerencyNodiv-bck {
	background-color: transparent
}

#emerencyNodiv-bck {
	border-color: #07aab9
}

#emerencyNodiv-bck {
	border-radius: 0px
}

#schoolNameChange {
	color: #faeb0c
}

#schoolNameChange {
	font-size: 14px
}

#schoolNameChange {
	background-color: transparent
}

#branchName {
	color: #f4b46f
}

#branchName {
	font-size: 9px
}

#branchName {
	background-color: transparent
}

#teleName {
	color: #ffffff
}

#teleName {
	font-size: 9px
}

#teleName {
	background-color: transparent
}

#name {
	color: #ffffff
}

#name {
	font-size: 9px
}

#name {
	background-color: #2f3871
}

#nametext {
	color: #000000
}

#nametext {
	font-size: 10px
}

#nametext {
	background-color: transparent
}

#classlebel {
	color: #ffffff
}

#classlebel {
	font-size: 8px
}

#classlebel {
	background-color: #2f3871
}

#classtext {
	color: #000000
}

#classtext {
	font-size: 8px
}

#classtext {
	background-color: transparent
}

#admNo {
	color: #ffffff
}

#admNo {
	font-size: 8px
}

#admNo {
	background-color: #2f3871
}

#admNotext {
	color: #000000
}

#admNotext {
	font-size: 8px
}

#admNotext {
	background-color: transparent
}

#houNo {
	color: #ffffff
}

#houNo {
	font-size: 8px
}

#houNo {
	background-color: #2f3871
}

#houNotext {
	color: #000000
}

#houNotext {
	font-size: 8px
}

#houNotext {
	background-color: transparent
}

#validUpto {
	color: #ffffff
}

#validUpto {
	font-size: 8px
}

#validUpto {
	background-color: #2f3871
}

#validUptotext {
	color: #000000
}

#validUptotext {
	font-size: 8px
}

#validUptotext {
	background-color: transparent
}

#doblabel {
	color: #ffffff
}

#doblabel {
	font-size: 9px
}

#doblabel {
	background-color: #2f3871
}

#dobtext {
	color: #07aab9
}

#dobtext {
	font-size: 9px
}

#dobtext {
	background-color: transparent
}

#bgrouplabel {
	color: #ffffff
}

#bgrouplabel {
	font-size: 9px
}

#bgrouplabel {
	background-color: #2f3871
}

#bgrouptext {
	color: #07aab9
}

#bgrouptext {
	font-size: 9px
}

#bgrouptext {
	background-color: transparent
}

#addresslebel {
	color: #ffffff
}

#addresslebel {
	font-size: 8px
}

#addresslebel {
	background-color: #2f3871
}

#addresstext {
	color: #000000
}

#addresstext {
	font-size: 8px
}

#addresstext {
	background-color: transparent
}

#phonelebel {
	color: #ffffff
}

#phonelebel {
	font-size: 7px
}

#phonelebel {
	background-color: #2f3871
}

#phonetext {
	color: #000000
}

#phonetext {
	font-size: 7px
}

#phonetext {
	background-color: transparent
}

#patentlabel {
	color: #ffffff
}

#patentlabel {
	font-size: 7px
}

#patentlabel {
	background-color: #2f3871
}

#faterName {
	color: #000000
}

#faterName {
	font-size: 7px
}

#faterName {
	background-color: transparent
}

#motherName {
	color: #000000
}

#motherName {
	font-size: 7px
}

#motherName {
	background-color: transparent
}

#emergency {
	color: #ffffff
}

#emergency {
	font-size: 7px
}

#emergency {
	background-color: #2f3871
}

#emergencyNo {
	color: #000000
}

#emergencyNo {
	font-size: 7px
}

#emergencyNo {
	background-color: transparent
}

#classlebel-bck {
	color: #ffffff
}

#classlebel-bck {
	font-size: 9px
}

#classlebel-bck {
	background-color: #2f3871
}

#classtext-bck {
	color: #07aab9
}

#classtext-bck {
	font-size: 9px
}

#classtext-bck {
	background-color: transparent
}

#admNo-bck {
	color: #ffffff
}

#admNo-bck {
	font-size: 9px
}

#admNo-bck {
	background-color: #2f3871
}

#admNotext-bck {
	color: #07aab9
}

#admNotext-bck {
	font-size: 9px
}

#admNotext-bck {
	background-color: transparent
}

#houNo-bck {
	color: #ffffff
}

#houNo-bck {
	font-size: 9px
}

#houNo-bck {
	background-color: #2f3871
}

#houNotext-bck {
	color: #07aab9
}

#houNotext-bck {
	font-size: 9px
}

#houNotext-bck {
	background-color: transparent
}

#validUpto-bck {
	color: #ffffff
}

#validUpto-bck {
	font-size: 9px
}

#validUpto-bck {
	background-color: #2f3871
}

#validUptotext-bck {
	color: #07aab9
}

#validUptotext-bck {
	font-size: 9px
}

#validUptotext-bck {
	background-color: transparent
}

#addresslebel-bck {
	color: #07aab9
}

#addresslebel-bck {
	font-size: 9px
}

#addresslebel-bck {
	background-color: transparent
}

#addresstext-bck {
	color: #07aab9
}

#addresstext-bck {
	font-size: 9px
}

#addresstext-bck {
	background-color: transparent
}

#phonelebel-bck {
	color: #07aab9
}

#phonelebel-bck {
	font-size: 9px
}

#phonelebel-bck {
	background-color: transparent
}

#phonetext-bck {
	color: #07aab9
}

#phonetext-bck {
	font-size: 9px
}

#phonetext-bck {
	background-color: transparent
}

#patentlabel-bck {
	color: #ffffff
}

#patentlabel-bck {
	font-size: 9px
}

#patentlabel-bck {
	background-color: #2f3871
}

#faterName-bck {
	color: #07aab9
}

#faterName-bck {
	font-size: 9px
}

#faterName-bck {
	background-color: transparent
}

#motherName-bck {
	color: #07aab9
}

#motherName-bck {
	font-size: 9px
}

#motherName-bck {
	background-color: transparent
}

#emergency-bck {
	color: #ffffff
}

#emergency-bck {
	font-size: 9px
}

#emergency-bck {
	background-color: #2f3871
}

#emergencyNo-bck {
	color: #07aab9
}

#emergencyNo-bck {
	font-size: 9px
}

#emergencyNo-bck {
	background-color: transparent
}

#schoolNameChange {
	font-size: 14px
}
#schoolAdress,#schoolAdress-bck{
	line-height: 1.2;
}
#schoolAdresslabel,#schoolAdresslabel-bck{
	display: inline;
}
#motherName{
	padding:0px;
}